@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    font-family: wendy, sans-serif;
    font-size: 20px;
    
    background-image: url('images/buddha-8661223_1280.jpg');
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
    height: 100vh;
    color: wheat;
}

.header {
    grid-area: header;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px; /* Kisebb magasság */
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Megoldja a menü elrendezését */
}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: wheat;
    font-size: 1em; /* Kisebb betűméret */
}

.navbar a:hover {
    color: #ff6347;
    text-decoration: underline;
}

.page-title {
    margin: 0;
    color: wheat;
    font-size: 1.5em; /* Kisebb betűméret */
}

.content {
    grid-area: content;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.shrines {
    display: block;
}

.shrine {
    display: flex;
    flex-direction: column; /* Kép és szöveg elrendezése */
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden; /* Megakadályozza a szöveg túlcsordulását */
}

.shrine a {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.shrine img {
    max-width: 200px; /* Kisebb kép méret */
    height: auto;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px; 
    border: 1px solid #ddd;
    padding: 5px;
    background-color: white;
}

.shrine a:hover img {
    transform: scale(1.5); 
}

.shrine p {
    font-size: 0.9em; /* Kisebb betűméret */
    line-height: 1.5;
    color: wheat;
    text-align: center; /* Középre igazítás */
}

footer {
    grid-area: footer;
    color: wheat;
    text-align: center;
    padding: 10px;
    position: relative;
    font-weight: normal;
    background: none;
}

.prayer-wheel {
    width: 50px; /* Kisebb ima malom méret mobil nézetben */
    height: 50px;
    margin: 0 auto 10px;
    cursor: pointer;
    display: block;
}

.prayer-wheel img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.prayer-wheel img:hover {
    transform: rotate(360deg);
}

#mantra-box {
    text-align: center;
    font-size: 0.9em; /* Kisebb betűméret */
    color: wheat;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 1s;
    position: fixed; 
    bottom: 80px; 
    left: 50%;
    transform: translateX(-50%);
}

#mantra-box.show {
    opacity: 1;
}

@media (max-width: 768px) {
    body {
        font-size: 16px; /* Kisebb betűméret mobil nézetben */
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "content"
            "footer";
    }

    .header {
        height: auto;
        flex-direction: column;
        align-items: center; /* Középre igazítás mobil nézetben */
        justify-content: center;
    }

    .navbar a {
        font-size: 0.9em; /* Kisebb betűméret mobil nézetben */
    }

    .shrine {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .shrine img {
        max-width: 100px; /* Kisebb kép méret mobil nézetben */
        margin-bottom: 5px;
    }

    .shrine p {
        text-align: center; /* Középre igazítás */
    }
}
